@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --pink: #FF99E1;
    --blue: #5D95CD;
    --green: #00E617;
    --grey: #5B5D60;
}

@font-face {
    font-family: "Satoshi";
    src: url(../assets/fonts/Satoshi-Variable.ttf);
}

body {
    font-family: "Source Code Pro", monospace;
}
#logo{
    width: 12em;
    height: auto;
    display: block;
    margin: 2em auto;
}

#controlPanel {
    font-family: 'Satoshi', sans-serif;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1em;
    text-align: center;
    border-radius: 0.5em;
    margin: 1em;
}

#controlPanel h3 {
    margin: 0;
}

/*--------DISPLAY DATA INTERFACE-------*/
#dataWrapper {
    display: flex;
    justify-content: center;
}

#dataInterface {
    letter-spacing: -0.03em;
    position: relative;
    border: 1px solid rgb(171, 171, 171);
    width: 340px;
    height: 408px;
    margin: auto;
    color: var(--grey);
    background-image: url("../assets/pinkUI.png");
    background-size: cover;
    background-position: center;
}

#dataInterfaceTitle {
    position: absolute;
    top: 26px;
    left: 80px;
    font-size: 0.35em;
    font-weight: 400;
}

#dataInterfaceTopTrackTitle {
    position: absolute;
    top: 51px;
    right: 85px;
    font-size: 0.4em;
    text-align: end;
    line-height: 0;
}

#topTracks {
    position: absolute;
    top: 135px;
    left: 57px;
    font-size: 0.35em;
}

.trackRow {
    display: inline-block;
    width: 146px;
    margin: 0.3em 0px 0.3em 0px;
}

.trackLength {
    margin: 0;
    text-align: end;
    float: right;
}

.trackName {
    margin: 0;
    display: inline-block;
}

/*------THEME BUTTONS------*/
.timeButton {
    display: inline-block;
    padding: 1em;
}

.themeButton {
    display: inline-block;
    padding: 1em;
    opacity: 0.5;
}

#pinkThemeButton {
    background-color: var(--pink);
}

#blueThemeButton {
    background-color: var(--blue);
}

#neoThemeButton {
    background-color: var(--green);
}

.selectedOption {
    border: 2px solid black;
    opacity: 1;
}

/*-----MEDIA QUERIES-----*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #dataInterface {
        letter-spacing: -0.04em;
        width: 550px;
        height: 660px;
    }

    #dataInterfaceTitle {
        top: 42px;
        left: 130px;
        font-size: 0.55em;
    }

    #dataInterfaceTopTrackTitle {
        top: 84px;
        right: 140px;
        font-size: 0.65em;
    }

    #topTracks {
        top: 220px;
        left: 115px;
        font-size: 0.55em;
    }

    .trackRow {
        width: 240px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        padding: 1em;
    }

    #logo{
        margin: 1em auto;
    }

    #controlPanel {
        float: right;
        width: 20%;
    }

    #dataInterface {
        margin: 1em;
        width: 500px;
        height: 600px;
    }

    #dataInterfaceTitle {
        top: 38px;
        left: 120px;
    }

    #dataInterfaceTopTrackTitle {
        top: 77px;
        right: 129px;
        font-size: 0.6em;
    }

    #topTracks {
        top: 200px;
        left: 100px;
        font-size: 0.53em;
    }

    .trackRow {
        width: 220px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        padding: 2em;
    }

    #logo{
        margin: 1em;
    }

    #dataInterface {
        width: 600px;
        height: 720px;
    }

    #dataInterfaceTitle {
        top: 44px;
        left: 142px;
        font-size: 0.65em;
    }

    #dataInterfaceTopTrackTitle {
        top: 92px;
        right: 155px;
        font-size: 0.7em;
    }

    #topTracks {
        top: 240px;
        left: 126px;
        font-size: 0.62em;
    }

    .trackRow {
        width: 265px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    #controlPanel {
        width: 25%;
    }

    #dataInterface {
        letter-spacing: -0.06em;
        width: 720px;
        height: 864px;
    }

    #dataInterfaceTitle {
        top: 55px;
        left: 168px;
        font-size: 0.75em;
    }

    #dataInterfaceTopTrackTitle {
        top: 110px;
        right: 182px;
        font-size: 0.82em;
    }

    #topTracks {
        top: 288px;
        left: 160px;
        font-size: 0.75em;
    }

    .trackRow {
        width: 315px;
    }
}